<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 2</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <h1>Backend Site map</h1>
    <ul>
        <li><a href="home" style="text-decoration: none;">Main project</a></li>
        <li><a href="aiagent" style="text-decoration: none;">AI Chat</a></li>
        <li><a href="navermap" style="text-decoration: none;">Naver map</a></li>
        <li><a href="navergeocode" style="text-decoration: none;">Naver map - Geo code transformation</a></li>
    </ul>
    
    <br>
    
</body>
</html>
